// START MEDIA QUERIES 

@media screen and (max-width: 900px) {
    body {
        background-color: lightgreen;
    }
	
	body header #header-container #header-img2-container {
		display: none;
	}

	body header #header-container #header-img1-container #header-img1 {
		width:60%;
	}

// Makes nav bar center 

	 body nav {
	 	display:flex;
		justify-content: center;
	 }

// Makes footer line 1 center

    body footer #footer-line1 {
    	display: flex;
    	justify-content: center;
    }

// Makes footer line 2 center
    body footer #footer-line2 {
    	display: flex;
    	justify-content: center;
    }

    // Makes date dissapear
	body #subnavbar #date  {
		display:none;
	}
	



}










// END MEDIA QUERIES 


// START HEADER
body {
	margin:0px;
}
header {
	#header-container {
		height:200px;
		width:100%;
		border:4px solid black;
		display: flex;
		background-color: brown;
		

	// 1 image in the header
		#header-img1-container {
			width: 100%;

				#header-img1{
				width: 100%;
				}

		}
	// END  1 image in the header

	// 2nd image in the header
		#header-img2-container {
			width: 100%;

				#header-img2 {
				width: 70%;
				}
		}
	// END  2nd image in the header
	
	


	}
}

// END HEADER
// START NAVBAR

nav {	height:50px;
		width:100%;
		border:4px solid black;
		display:flex;
		justify-content: flex-start;
		background-color:black;

		
		ul {   display:block;
				list-style-type: none;
				margin: 0; 
				padding: 0; 
				background-color: black;
				position: absolute;
				min-width:300px;
				display:block;
			}
				    
		li {
				float: left;
			}

		li a {
				display: block;
				color: white;
				padding: 14px 16px;
				text-decoration: none;
				}
}

#subnavbar {
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	display: flex;
	justify-content: flex-end;
}

#top-news-banner {
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	background-color: #DCDCDC;
	
	p {
		color:grey;
	}

}

// END NAVBAR
// START MAIN 

main {
	height:120px;
	width:90%;
	margin-right: 5%;
	margin-left: 5%;
	border:4px solid black;
	background-color:white;

	#main-line1 {
		display: flex;
		justify-content: space-between;
		width:100%;
		height:100px;

		.main-line1-item {
			width:20%;
		}
	}
}


// END MAIN
// START FOOTER
footer {
		height:320px;
		width:100%;
		border:4px solid black;
		background-color:black;	
			
			// START FIRST LINE FOOTER
			
			#footer-line1 {
				height:120px;
				width: 100%;
				border:4px solid black;
				display: flex;
				justify-content: flex-start;


				ul {
						display:block;
						list-style-type: none;
						margin: 0; 
						padding: 0; 
						position: absolute;
						min-width:300px;
						height:10%;
						display:block;
				} 


				li {
						float:left;
				}  

				li a {
				display: block;
				color: white;
				padding: 14px 16px;
				text-decoration: none;
				}
			}
			// END FIRST LINE FOOTER

			// START SECOND LINE FOOTER

			#footer-line2 {
				display:flex;
				justify-content: flex-end;
			}
			// END SECOND LINE FOOTER


			// START THIRD LINE FOOTER

			#footer-line3 {
				display:flex;
				justify-content: center;
				color:white;
			}
			// END SECOND LINE FOOTER





		}







// END FOOTER