// START MEDIA QUERIES 









// END MEDIA QUERIES 


// START HEADER

header {
	#header-container {
		height:200px;
		width:100%;
		border:4px solid black;
		display: flex;
		background-color: brown;
		

	// 1 image in the header
		#header-img1-container {
			width: 100%;

				#header-img1{
				width: 70%;
				}

		}
	// END  1 image in the header

	// 2nd image in the header
		#header-img2-container {
			width: 100%;

				#header-img2 {
				width: 70%;
				}
		}
	// END  2nd image in the header
	
	


	}
}

// END HEADER
// START NAVBAR

nav {
		ul {   display:block;
				list-style-type: none;
				margin: 0; 
				padding: 0; 
				background-color: black;
				position: absolute;
				width: 100%;
				display:block;
			}
				    
		li {
				float: left;
			}

		li a {
				display: block;
				color: white;
				padding: 14px 16px;
				text-decoration: none;
				}
}

// END NAVBAR
// START MAIN 

#main-container {
	height:120px;
	width:100%;
	border:4px solid black;
	background-color:white;
}


// END MAIN
// START FOOTER
footer {
		height:320px;
		width:100%;
		border:4px solid black;
		background-color:black;	
			
			// START FIRST LINE FOOTER
			
			#footer-line1 {
				height:120px;
				width:100%;
				border:4px solid black;
				display: flex;
				justify-content: flex-start;


				ul {
						display:block;
						list-style-type: none;
						margin: 0; 
						padding: 0; 
						position: absolute;
						width: 40%;
						height:10%;
						display:block;
				} 


				li {
						float:left;
				}  

				li a {
				display: block;
				color: white;
				padding: 14px 16px;
				text-decoration: none;
				}
			}
			// END FIRST LINE FOOTER

			// START SECOND LINE FOOTER

			#footer-line2 {
				display:flex;
				justify-content: flex-end;
			}
			// END SECOND LINE FOOTER


			// START THIRD LINE FOOTER

			#footer-line3 {
				display:flex;
				justify-content: center;
				color:white;
			}
			// END SECOND LINE FOOTER





		}







// END FOOTER