@media screen and (max-width: 900px) {
  body header #header-container #header-img2-container {
    display: none; }

  body header #header-container #header-img1-container #header-img1 {
    width: 60%; }

  body nav {
    display: flex;
    justify-content: center; }

  body footer #footer-line1 {
    display: flex;
    justify-content: center; }

  body footer #footer-line2 {
    display: flex;
    justify-content: center; }

  body #subnavbar #date {
    display: none; }

  body main #main-line1 {
    flex-wrap: wrap;
    max-height: 600px; }

  body main #main-line1 .card {
    max-width: 43%; }

  body main #main-line1 #trick1 {
    display: none; }

  body main #main-line1 #trick2 {
    display: inline-block; } }
body {
  margin: 0px; }

header #header-container {
  height: 200px;
  width: 100%;
  border: 4px solid black;
  display: flex;
  background-color: brown; }
  header #header-container #header-img1-container {
    width: 100%; }
    header #header-container #header-img1-container #header-img1 {
      width: 100%; }
  header #header-container #header-img2-container {
    width: 100%; }
    header #header-container #header-img2-container #header-img2 {
      width: 70%; }

nav {
  height: 50px;
  width: 100%;
  border: 4px solid black;
  display: flex;
  justify-content: flex-start;
  background-color: black; }
  nav ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: absolute;
    min-width: 300px;
    display: block; }
  nav li {
    float: left; }
  nav li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none; }

#subnavbar {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: flex-end; }

#top-news-banner {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: #DCDCDC; }
  #top-news-banner p {
    color: grey; }

main {
  height: 2000px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: white; }
  main #main-line1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 300px; }
  main #trick2 {
    display: none; }
  main #popular-banner {
    width: 75%;
    background-color: #DCDCDC; }
    main #popular-banner p {
      color: grey; }
  main #main-line2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 300px; }
  main #webdeveloper-banner {
    margin-top: 300px;
    display: flex;
    justify-content: center; }

footer {
  margin-top: 900px;
  height: 320px;
  width: 100%;
  border: 4px solid black;
  background-color: black; }
  footer #footer-line1 {
    height: 120px;
    width: 100%;
    border: 4px solid black;
    display: flex;
    justify-content: flex-start; }
    footer #footer-line1 ul {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      min-width: 300px;
      height: 10%;
      display: block; }
    footer #footer-line1 li {
      float: left; }
    footer #footer-line1 li a {
      display: block;
      color: white;
      padding: 14px 16px;
      text-decoration: none; }
  footer #footer-line2 {
    display: flex;
    justify-content: flex-end; }
  footer #footer-line3 {
    display: flex;
    justify-content: center;
    color: white; }

/*# sourceMappingURL=style.css.map */
